@import 'normalize.css';
@import 'rhytm.css';

/* GLOBALS */
html {
  height: 100%;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.root-notifications > * {
  display: block;
  margin: 0;
  padding: 16px;
  background: #ffa;
  text-align: center;
  line-height: 2;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* LAYOUT */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}
/* .app__header {} */
.app__body {
  flex: 1 0 auto;
}
.app__footer {
  flex-shrink: 0;
}
.app__container {
  margin: auto;
  max-width: 800px;
}

/* COMMON STYLES */
h1, h2, h3 { font-weight: 400; }
h1 { text-align: center;}
a {
  color: #444;
  font-weight: bold;
}
a:visited { color: #569; }

.app {
  padding-bottom: 64px;
  background: #ddd;
}
.app__body .app__container {
  background: #fff;
}
.app__container {
  padding: 0 16px;
}
.ava {
  position: relative;
  overflow: hidden;
  height: 320px;
  margin: 0 -16px;
  background: #020202;
  text-align: center;
}
.ava_centerer {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 0;
  width: 0;
}
.ava img {
  position: absolute;
  left: -200px;
  top: 0;
}

/* .projects__content {} */

.app__footer .app__container {
  background: #fff;
}
.contacts {
  padding-bottom: 64px;
}
.contacts__content {
  text-align: center;
}
.contacts__item {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .app__container {
    padding: 0 64px;
  }
  .ava {
    margin: 0 -64px;
  }
}
